includes:
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    ignoreErrors:
         - '#^Contributte\\Deployer\\Logging\\StdOutLogger::__construct\(\) does not call parent constructor from Deployment\\Logger#'
